<h2>DebounceTime</h2>
<a href="https://rxjs.dev/api/index/function/debounceTime" target="_blank">Documentazione</a>

<hr>

<ul class="spaced">
    <li>Emette solo dopo che un certo lasso di tempo è passato prima di un'altro valore</li>
    <li>Se riceve più di un valore, emette l'ultimo ricevuto</li>
    <li>Attenzione: filtra i valori precedenti!</li>
    <li>Può essere utilizzato per evitare chiamate multiple</li>
    <li>Può essere impiegato per implementare un salvataggio automatico</li>
</ul>

<hr>

<h3>Marble diagram</h3>

<img src="https://rxjs.dev/assets/images/marble-diagrams/debounceTime.png">

<hr>

<h3>Esempio di utilizzo</h3>

<img src="assets/debounce-time/example.png">
