<h2>TakeUntil</h2>
<a href="https://rxjs.dev/api/index/function/takeUntil" target="_blank">Documentazione</a>

<hr>

<ul class="spaced">
    <li>Emette i valori della sorgente finché un observable non emette</li>
    <li>Quanto l'observable <code>notifier</code> emette, viene chiamata la funzione <code>complete</code> della sorgente</li>
    <li>Può essere utilizzato per gestire la chiusura delle sottoscrizioni in un componente</li>
</ul>

<hr>

<h3>Marble diagram</h3>

<img src="https://rxjs.dev/assets/images/marble-diagrams/takeUntil.png">

<hr>

<h3>Esempio di utilizzo</h3>

<img src="assets/take-until/example.png">
