<h2>Interval</h2>
<a href="https://rxjs.dev/api/index/function/interval" target="_blank">Documentazione</a>

<hr>

<ul class="spaced">
    <li>Crea un observable che emette numeri sequenziali ogni <code>t</code> millisecondi</li>
    <li>La prima emissione non è istantanea, ma dopo il tempo specificato</li>
    <li>Attenzione: continua ad emettere all'infinito!</li>
</ul>

<hr>

<h3>Marble diagram</h3>

<img src="https://rxjs.dev/assets/images/marble-diagrams/interval.png">

<hr>

<h3>Esempio di utilizzo</h3>

<img src="assets/interval/example.png">