<mat-nav-list>
  <a mat-list-item routerLink="/home">Home</a>

  <hr>

  <a mat-list-item routerLink="/observable">Observable</a>
  <a mat-list-item routerLink="/subject">Subject</a>
  <a mat-list-item routerLink="/behavior-subject">Behavior Subject</a>

  <hr>

  <a mat-list-item routerLink="/map">Map</a>
  <a mat-list-item routerLink="/tap">Tap</a>
  <a mat-list-item routerLink="/filter">Filter</a>
  <a mat-list-item routerLink="/take">Take</a>
  <a mat-list-item routerLink="/of">Of</a>
  <a mat-list-item routerLink="/interval">Interval</a>
  <a mat-list-item routerLink="/start-with">StartWith</a>
  <a mat-list-item routerLink="/debounce-time">DebounceTime</a>
  <a mat-list-item routerLink="/take-until">TakeUntil</a>

  <hr>

  <a mat-list-item routerLink="/switch-map">SwitchMap</a>
  <a mat-list-item routerLink="/fork-join">ForkJoin</a>
  <a mat-list-item routerLink="/combine-latest">CombineLatest</a>
  <a mat-list-item routerLink="/merge">Merge</a>
  <a mat-list-item routerLink="/with-latest-from">WithLatestFrom</a>
  <a mat-list-item routerLink="/pairwise">Pairwise</a>

  <hr>

  <a mat-list-item routerLink="/exercises">Exercises</a>
</mat-nav-list>