<h2>Pairwise</h2>
<a href="https://rxjs.dev/api/index/function/pairwise" target="_blank">Documentazione</a>

<hr>

<ul class="spaced">
    <li>Raggruppa i valori emessi da un observable in coppie</li>
    <li>Ritorna l'ultimo e il penultimo valori emessi dalla sorgente</li>
    <li>Utile per tutti gli eventi che necessitano di un "clean up"</li>
    <li>Attenzione: il primo valore emesso dalla sorgente non viene emesso (usare <code>startWith</code>)</li>
</ul>

<hr>

<h3>Marble diagram</h3>

<img src="https://rxjs.dev/assets/images/marble-diagrams/pairwise.png">

<hr>

<h3>Esempio di utilizzo</h3>

<img src="assets/pairwise/example.png">
