<h2>Map</h2>
<a href="https://rxjs.dev/api/index/function/map" target="_blank">Documentazione</a>

<hr>

<ul class="spaced">
    <li>Trasforma ogni valore in ingresso secondo la funzione definita ed emette il risutato</li>
    <li>Attenzione: la funzione deve ritornare un valore, non un Observable!</li>
    <li>Se si ha la necessità di utilizzare un altro observable (concatenazione di chiamate http) utilizzare l'operatore
        <code>switchMap</code></li>
</ul>

<hr>

<h3>Marble diagram</h3>

<img src="https://rxjs.dev/assets/images/marble-diagrams/map.png">

<hr>

<h3>Esempio di utilizzo</h3>

<img src="assets/map/example.png">