<h2>Tap</h2>
<a href="https://rxjs.dev/api/index/function/tap" target="_blank">Documentazione</a>

<hr>

<ul class="spaced">
    <li>Esegue codice con side-effects partendo dal valore dell'observer</li>
    <li>Il valore in ingresso non viene consumato</li>
    <li>Attenzione a non abusarne, può aggiungere complessità all'architettura</li>
</ul>

<hr>

<h3>Marble diagram</h3>

<img src="https://rxjs.dev/assets/images/marble-diagrams/tap.png">

<hr>

<h3>Esempio di utilizzo</h3>

<img src="assets/tap/example.png">