<h2>Home</h2>

<hr>

<ul class="spaced">
  <li><a href="https://en.wikipedia.org/wiki/Reactive_programming" target="_blank">Paradigma di programmazione reactive</a></li>
  <li><a href="https://medium.com/front-end-weekly/why-should-we-use-reactive-programming-in-angular-2e2913297054" target="_blank">Esempio di programmazione reactive in Angular</a></li>
  <li><a href="https://rxjs.dev/guide/overview" target="_blank">RxJS per programmazione asincrona</a></li>
  <li><a href="https://rxjs.dev/api" target="_blank">Documentazione API RxJS</a></li>
  <li><a href="https://rxjs.dev/operator-decision-tree" target="_blank">Albero decisionale degli operatori</a></li>
  <li><a href="https://www.rxjs-fruits.com/" target="_blank">Esercizio introduttivo a RxJS</a></li>
</ul>