<h2>SwitchMap</h2>
<a href="https://rxjs.dev/api/index/function/switchMap" target="_blank">Documentazione</a>

<hr>

<ul class="spaced">
    <li>Trasforma tutte i valori della sorgente utilizzando un observable intermedio</li>
    <li>Particolarmente utilizzato nella concatenazione di chiamate HTTP</li>
    <li>Attenzione: chiamate sequenziali e non parallele implicano maggior tempo di esecuzione</li>
</ul>

<hr>

<h3>Marble diagram</h3>

<img src="https://rxjs.dev/assets/images/marble-diagrams/switchMap.png">

<hr>

<h3>Esempio di utilizzo</h3>

<img src="assets/switch-map/example.png">
