<h2>Of</h2>
<a href="https://rxjs.dev/api/index/function/of" target="_blank">Documentazione</a>

<hr>

<ul class="spaced">
    <li>Converte i valori forniti in sequenze di observable</li>
    <li>Praticamente ogni dato può diventare un observable!</li>
    <li>Emette i valore in modo sincrono e chiama la funzione <code>complete</code></li>
</ul>

<hr>

<h3>Marble diagram</h3>

<img src="https://rxjs.dev/assets/images/marble-diagrams/of.png">

<hr>

<h3>Esempio di utilizzo</h3>

<img src="assets/of/example.png">